#background-video {
    height: 100dvh;
    width: 100dvw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -999;
  }
  
  .album-cover {
    border: 2px solid rgb(255, 255, 255);
  }
  
  .beetleMain {
    font-family: "The Nightmare", sans-serif;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    margin-top: 95px;
    justify-content: space-around;
    padding: 20px;
  }
  
  .textAlign--center {
    text-align: center;
  }
  
  #clapDeCine {
    border: 0px solid rgb(255, 255, 255);
  }
  
  section {
    background-color: #1303038c;
    box-shadow: 0px 0px 20px #10dc84;
    color: whitesmoke;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    width: 30%;
  }
  
  section:hover {
    box-shadow: 0px 0px 10px #f8f7f7;
  }
  
  section img {
    max-width: 100%;
  }
  
  section p {
    margin-top: 30px;
  }
  
  section a {
    background-color: #333333;
    color: #fff;
    display: block;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  
  }
  
  section a:hover {
    background-color: #666;
  }
  
  footer {
  
    color: whitesmoke;
    text-align: center;
  
  }
  
  .footer-content {
    animation: slide-up 1s ease-in-out infinite;
    animation-name: slide;
  }
  
  
  @keyframes slide-up {
    0% {
      opacity: 10;
      transform: translateY(100%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  nav {
    background-color: #333333a3;
    color: #fff;
    padding: 25px;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: auto
  }
  
  .menu li a {
    color: #fff;
    text-decoration: under;
    padding: 5px 10px;
  }
  
  .menu li a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  
  .image-container {
    position: relative;
    
  }
  
  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0)2%, rgb(130, 14, 14) 100%);
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .image-container:hover::before {
    opacity: 200;
  }
  
  /*Bordure pour les images*/
  .movie-image {
    border: 2px solid rgb(255, 255, 255);
  }
  
  
  ul {
    list-style-type: none;
  }
  
  /* Texte qui défile dans la section 5 Parodies du film*/
  .marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    color: #ffffff; 
  }
  
  .marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
  
    /* Position tu texte au départ */
    transform:translateX(100%);
  
    /* Applique l'animation */   
    animation: marquee 7s linear infinite;
    
  
  }
  
  /* Définie l'animation ( le déplacement) */
  @keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  
  /* @media screen */
  
  /* Styles pour les téléphones portables (écrans jusqu'à 600px) */
  @media screen and (max-width: 600px) {
    .full-width-img {
      margin: auto;
      width: 100%;
    }
  }
  
  /* Styles pour les tablettes (écrans de 601px à 1024px) */
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .full-width-img {
      margin: auto;
      width: 90%;
    }
  }
  
  /* Styles pour les PC (écrans de plus de 1024px) */
  @media screen and (min-width: 1025px) {
    .full-width-img {
      margin: auto;
      width: 80%;
    }
  }
  
  