body {
    background-image: url(../IMG/Contact/Ma\ video\ 3.gif);
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
}

.titles {
    color: white;
    margin-top: 125px;
    text-align: center;
    font-size: 55pt;
    font-family: "Uncanny";
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    margin: 50px 25% 0 25%;
    padding-top: 100px;
    gap: 10px;
    max-width: 50%;
}

input {
    width: 50%;
    height: 10%;
    font-size: 13pt;
}

.submit{
    font-family: 'Uncanny';
    font-size: 21pt;
    width: 20%;
}
@media screen and (max-width:767px) {

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: white;
        margin: 50px 10% 0 10%;
        padding-top: 100px;
        gap: 10px;
        max-width: 80%;
    }

    input {
        width: 80%;
        height: 10%;
        font-size: 13pt;
    }

    .submit{
        font-family: 'Uncanny';
        font-size: 13pt;
        width: 20%;
    }
}